.container{
    display:flex;
    background-color: deepskyblue;
    justify-content: space-around;
}
.box{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    color: black;
    text-align: center;
    margin: 10px;
    line-height: 100px;
}
body{
    margin:40px;
}
#box{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative; 
}