p{
    font-family:monospace;
    background:linear-gradient( lightblue,lavender);
}
.data{
    font-size: large;
}
#source{
    font-size: x-large;
}
b{
    color:chocolate;
}
table,th,td{
    border-style:double;
}
td{
    color: crimson;
    border-color: grey;
}
li{
    font-size: small;
    font-style: italic;
    font-weight: lighter;
    background-color: wheat;
    text-align: justify;
    width:fit-content;
}
*{background:linear-gradient( lightblue,lavender);

}
.read{
    position:sticky;
}
